# Database Configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=code_learning_db

# Security
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=7d

# Server Configuration
PORT=3000

# Cloudinary Configuration
# Lấy các thông số này từ Cloudinary Dashboard (https://cloudinary.com/console)
CLOUDINARY_CLOUD_NAME=dfwg33qeq
CLOUDINARY_API_KEY=859471315897494
CLOUDINARY_API_SECRET=_TNc6FOd0VpX3RZN0cX2rcV8aPA
